@charset "UTF-8";

:root {
--cor1: #D6D58E;
--cor2: #DBF227;
--cor3: #9FC131;
--cor4: #005C53;
--cor5: #042940;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
}
header > h1 {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.308);
    color: white;
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    margin-bottom: 30px;
    padding: 15px;
}
div {
    margin: auto;
    max-width: 1000px;
    padding: 40px;
}
div > h1 {
    margin-bottom: 50px;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-image: linear-gradient(to Left, var(--cor5), var(--cor4));
    font-weight: bold;
    font-size: 3em;
}
div > p {
    color: white;
    font-weight: 100;
    margin: 20px 10px;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.5em;
}